/* ---------- Root  ---------- */
:root {
  --header-font-family: "Moirai One", cursive; 
  --body-color: dimgray;
  --secondary-main-color: rgba(115, 144, 188, 0.501);
  --btn-bg-color: rgba(83, 72, 94, 0.781);
  --btn-bg-color-hover: rgba(78, 98, 54, 0.781);
  --dialog-bg-color: rgb(99, 124, 149);
}

/* ---------- main ---------- */
body {
    background-color: var(--body-color);
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-main-color);
  height: 100px;
  margin: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 3px 12px black;
  border-radius: 12px;
}

#create-artist-btn-container{
  display: flex;
  justify-content: center;
}

#create-artist-btn {
  text-align: center;
  margin: auto auto;
  width: 180px;
  height: 50px;
}

button {
  background-color: var(--btn-bg-color);
  color: rgb(212, 231, 208);
  height: 35px;
  width: 90px;
  margin: 10px;
  font-size: 1.05rem;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-main-color);
  /* height: 100px; */
  margin: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 3px 12px black;
  border-radius: 12px;
}

/* ---------- Artists grid ---------- */
#artists-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 30px;
  gap: 12px;
  text-align: center;
}

#artists-container > article {
  background-color: var(--secondary-main-color);
  box-shadow: 1px 2px 5px black;
  border-radius: 20px;
  opacity: 0.9;
}

#artists-container > article:hover {
  box-shadow: 2px 2px 12px black;
  opacity: 1;
  animation-name: artistArticle;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes artistArticle {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.015);
  }
}

#grid-img {
  object-fit: scale-down;
  width: 20vw;
  height: 30vh;
}

/* ---------- detail view/dialog ---------- */
#dialog-create-artist {
  background-color: var(--dialog-bg-color);
  width: 540px;
  height: 620px;
}

#form-create-artist {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
